<h1>Transactions</h1>

<% if @transactions.none? %>
  <div>
    Noch nix :(
  </div>
<% else %>
  <table id="transactions">
    <% @transactions.each do |transaction| %>
      <tr>
        <td>
          <%= l transaction.timestamp.localtime, format: :short %>
        </td>
        <td>
          <%= number_to_currency transaction.tip_amount, locale: :de %>
        </td>
        <td>
          <%= number_to_percentage transaction.tip_percent, precision: 0 %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
